{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1>Book Index</h1>
    {% else %}
        <h1>Book List</h1>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Id</th>
                {% else %}
                {% endif %}
                    <th>Title</th>
                    <th>Author</th>
                    <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ book.id }}</td>
                {% else %}
                {% endif %}
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>
                        <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                    {% else %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('book_new') }}">Create new</a>
    {% else %}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_STAFF') or is_granted('ROLE_USER') or is_granted('ROLE_MEMBER') %}
        <a href="{{ path('member_homepage') }}">Back</a>
    {% else %}
        <a href="{{ path('book_club_month_index') }}">Back</a>
    {% endif %}

{% endblock %}
