{% extends 'base.html.twig' %}

{% block title %}Club index{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_STAFF')  %}
        <h1>Club Index</h1>
    {% else %}
        <h1>Club List</h1>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_STAFF')  %}
                    <th>Id</th>
                {% else %}
                {% endif %}
                    <th>ClubName</th>
                    <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_STAFF')  %}
                    <td>{{ club.id }}</td>
                {% else %}
                {% endif %}
                    <td>{{ club.clubName }}</td>
                <td>
                        <a href="{{ path('club_show', {'id': club.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_STAFF')  %}
                        <a href="{{ path('club_edit', {'id': club.id}) }}">edit</a>
                    {% else %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_STAFF') %}
        <a href="{{ path('club_new') }}">Create new</a>
    {% else %}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_STAFF') or is_granted('ROLE_USER') or is_granted('ROLE_MEMBER') %}
        <a href="{{ path('member_homepage') }}">Back</a>
    {% else %}
        <a href="{{ path('book_club_month_index') }}">Back</a>
    {% endif %}
{% endblock %}
